.main {
  &__card {
    border: 1px solid $border-light;
    padding: 5px;
    margin: 5px;
  }
  &__card-icons {
    padding: 0 10px 20px 10px;
  }
  &__card-img {
    padding: 10px;
  }
  &__card-paragraph {
    color: $color-secondary;
    font-family: $font-family-primary;
    font-size: $medium;
    padding: 0 10px 20px 10px;
    text-align: justify;
  }
  &__card-subtitle {
    color: $color-contrast;
    font-family: $font-family-secundary;
    font-weight: 700;
    font-size: $large;
    padding: 0 10px 20px 10px;
  }
  &__card-title {
    color: $color-contrast;
    font-family: $font-family-secundary;
    font-weight: 700;
    font-size: $medium;
    padding: 0 10px 20px 10px;
  }
}
