//Color Scheme
$color-basic: #FFF;
$color-contrast: #000;
$color-hover: #FFA500;
$color-primary: #FFAF6D;
$color-secondary: #060606;
$color-tertiary: #2E1503;
$border-light: #797474;
//Font Size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
//Medias Query
$screen-sm: 768px;
$screen-md: 820px;
$screen-lg: 821px;





  